* {
  font-size: 12px;
}

.stdout strong {
  font-weight: bold;
}

.packageList ul li, .registry ul li  {
  margin: 4px;
  cursor: pointer;
}

.registry p {
  text-align: center;
  margin: 2px;
  padding: 2px;
}
.registry button {
  margin: 0 auto;
  display: block;
  width: 100px;
}
.registry .installed {
  background: green;
}

.packageInfo ul.toolbar {
  border-bottom: 1px solid;
  overflow: hidden;
}
.packageInfo ul.toolbar li {
  float: left;
  padding: 5px;
  border-right: 1px solid;
  text-align: center;
  background: #ccc;
  cursor: pointer;
}
.packageInfo ul.toolbar li.install {
  background: url(/images/icons/package_start.png) no-repeat 3px 3px;
  text-indent: 20px;
}
.packageInfo ul.toolbar li.uninstall {
  background: url(/images/icons/package_stop.png) no-repeat 3px 3px;
  text-indent: 20px;
}
.packageInfo ul.infoContainer  {
  margin: 20px;
}
.packageInfo ul  li {
  overflow: hidden;
  font-size: 12px;
}
.packageInfo ul  label {
  width: 100px;
  float: left;
  display: block;
}
.packageInfo ul span {
  float: left;
  display: block;
  margin-left: 10px;
}

.versions p {
  margin: 2px auto;
  overflow: hidden;
  clear: both;
  width: 130px;
}
.versions p label {
  width: 50px;
  float: left;
}
.versions p select {
  width: 80px;
  float: left;
}

#packageList, #stdout, #registry, #versions {
  display: none;
}